.header{
    background-image:url('img/pattern.png');
    height: 180px;
    width: 100%;
}

.lightblue{
    background-color: rgb(39, 112, 230);
}

#logo{
    height: 50px;
    margin-top: 120px;
}

.text-gray{
    color: gray;
}
.text-blue{
    color: blue;
}

.text-size{
    font-size: 15px;
}

.image{
    margin-top: 20px;
}

.blue-bar{
    background-color: blue;
    color: white;
}