.header{
    background-image:url('img/pattern.png');
    height: 180px;
    background-color: rgb(39, 112, 230);
    width: 100%;
}

#logo{
    height: 50px;
    margin-top: 120px;
}

.text-gray{
    color: gray;
}
.text-blue{
    color: blue;
}

.text-size{
    font-size: 15px;

}